.container {

  height: 100vh;
  width: 100%;
  position: relative;
  z-index: 1;
}

.infoBox {
  position: absolute;
  top: 2rem;
  left: -30rem;
  width: 50rem;
  background-color: rgb(255, 255, 255, 0.2);
  color: black;
  padding: 1rem;
  border-radius: 8;
  z-index: 100;
  transition: 1s all;
  color: rgb(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
}

.infoBox p {

  padding: 1rem;
}

.infoBoxIcon
{
  position: absolute;
  margin:10;
  bottom:0.6rem;
  left:3rem;
  height: 23;
  width: 23;
  z-index: 200;
  fill:rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition:1s cubic-bezier(0.16, 1, 0.3, 1) 0s; 
}

.infoBoxIcon:hover
{
  fill:rgba(255, 255, 255, 0.8);
}

.slideRightinfoBox
{
  animation: slide-right-infoBox 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards;
}

.planetFocusContainer
{
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

@keyframes slide-right-infoBox {
  0% {
            transform: translateX(-30rem);
  }
  100% {
            transform: translateX(31rem);
  }
}

.slideLeftinfoBox
{
  animation: slide-left-infoBox 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards;
}

@keyframes slide-left-infoBox {
  0% {
            transform: translateX(31rem);
  }
  100% {
            transform: translateX(-30rem);
  }
}

.SpaceIcon 
{
  position: absolute;
  bottom:0;
  left:6rem;
  z-index: 100;
  cursor: pointer;
}

.SpaceIcon svg
{
  height: 50;
  width: 50;
  z-index: 100;
}

.SpaceIcon:hover .SpaceIcon > svg > circle 
{
 fill: gray;
}

.IconContainer {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
  width: 20vw;
  height: 5vh;
  border-radius: 5px;
  z-index: 50;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  display: flex;
  border: 1px solid red;
}

.IconContainer>div {

  padding: 1rem;
}

.IconContainer>div>svg {
  height: 2rem;
  cursor: pointer;
  transition: 1s all;
}

.IconContainer>div>svg:hover {
  transform: scale(1.2);
}



.MiniMap {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  width: 150px;
  height: 150px;
  background-color: black;
  border-radius: 10px;
  border: 2px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 14px;
  z-index: 100
}

/*** Contour du canvas **/
.boxContainer {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 1);

}




@media (min-width: 479px) and (max-width: 959px) {

  .infoBox {
  
    top: -15rem;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    color: black;
    padding: 0.5rem;
    border-radius: 0;
    border-bottom-left-radius: 12;
    border-bottom-right-radius: 12;
    z-index: 100;
    transition: 1s all;
    color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    
  }

  @keyframes slide-right-infoBox {
    0% {
              transform: translateY(-15rem);
    }
    100% {
              transform: translateY(15rem);
    }
  }
  
  .slideLeftinfoBox
  {
    animation: slide-left-infoBox 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards;
  }
  
  @keyframes slide-left-infoBox {
    0% {
              transform: translateY(15rem);
    }
    100% {
              transform: translateY(-15rem);
    }
  }


  .IconContainer {

    display: none;
  }

}

@media (max-width: 478px) {
  .infoBoxIcon
  {
 
    bottom:1.2rem;
    left:4rem;
    height: 23;
    width: 23;

  }

  .SpaceIcon 
{
  bottom:0.5rem;
  left:7rem;
}

  .infoBox {
  
    top: -15rem;
    left: 0;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    color: black;
    padding: 0.5rem;
    border-radius: 0;
    border-bottom-left-radius: 12;
    border-bottom-right-radius: 12;
    z-index: 100;
    transition: 1s all;
    color: rgb(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    
  }

  @keyframes slide-right-infoBox {
    0% {
              transform: translateY(-15rem);
    }
    100% {
              transform: translateY(15rem);
    }
  }
  
  .slideLeftinfoBox
  {
    animation: slide-left-infoBox 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards;
  }
  
  @keyframes slide-left-infoBox {
    0% {
              transform: translateY(15rem);
    }
    100% {
              transform: translateY(-15rem);
    }
  }


  .IconContainer {

    display: none;
  }

}