
/** affichage des planètes à cibler et animation d'affichage**/
.planetFocusContainer
{
position: relative;
height: 100%;
width: 100%;
padding: 1rem;

}

.planetFocus {
  position: absolute;
  bottom: 4rem;
  left: -11rem;
  padding: 1rem;
  color: rgb(255, 255, 255, 0.5);
  background-color: rgb(255, 255, 255, 0.2);
  z-index: 100;
  border-radius: 8;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  backdrop-filter: blur(5px);
  z-index: 5;
}

.slideRight
{
  animation: slide-right 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards;
}

@keyframes slide-right {
  0% {
            transform: translateX(-12rem);
  }
  100% {
            transform: translateX(12rem);
  }
}

.slideLeft
{
  animation: slide-left 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550) forwards;
}

@keyframes slide-left {
  0% {
            transform: translateX(12rem);
  }
  100% {
            transform: translateX(-12rem);
  }
}

.planetFocus button {
  color: rgb(255, 255, 255, 0.7);
  padding: 0.3rem;
  transition: 1s all;
}


.planetFocus button:hover {
  color: rgb(0, 255, 255, 0.7);
}
.planetFocusIcon
{
  position: absolute;
  margin:10;
  bottom:0;
  left:0;
  height: 30;
  width: 30;
  z-index: 200;
  fill:rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition:1s cubic-bezier(0.16, 1, 0.3, 1) 0s; 
  z-index: 5;
}
.planetFocusIcon:hover
{
  fill:rgba(255, 255, 255, 0.8);
}


@media (min-width: 479px) and (max-width: 959px) 
{

  
}

@media (max-width: 478px) {
  .planetFocusIcon
  {
    margin:20;

  }
 
    
  }