
.QuizzMotor
{
  border:1px solid black ;
  padding:1rem;
  margin-left:5rem;
  margin-right:5rem;
  background: rgba(0,0,0,0.5);
  min-height: 50vh;
}


.QuizzMotor h2
{
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 230%;
}

.QuizzMotor h3
{
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-size: 200%;
}

.QuizzMotor div{

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  gap:20
}

.QuizzMotor div > input[type='radio']{
  -webkit-appearance: none; /* Désactive l'apparence par défaut du navigateur */
  -moz-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #4CAF50; /* Couleur et épaisseur du bord */
  border-radius: 50%; /* Pour garder la forme circulaire du bouton radio */
  background-color: white; /* Couleur de fond (avant sélection) */
  position: relative; /* Nécessaire pour positionner l'élément de sélection à l'intérieur */
  cursor: pointer; /* Curseur pointeur pour l'interaction */
  margin-right: 1rem;
}
.QuizzMotor div > input[type='radio']:checked {
  background-color: #4CAF50; /* Fond du bouton radio quand il est sélectionné */
  border-color: #4CAF50; /* Bordure quand le bouton est sélectionné */
}

.QuizzMotor div > input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 4px;
  width: 0px;
  height: 0px;
  border-radius: 50%;
  background-color: white; /* Le cercle intérieur (pour l'indication de sélection) */
}

.QuizzMotor div label
{
color:white;
font-size: 120%;
}

.QuizzMotor > button {
  margin: 1rem;
  border: 1px solid white;
  padding: 1rem;
  transition: 0.5s all;
  color:white;
}

.QuizzMotor > button:hover {
  background-color: #fff;
  color: #000;
}

.loader
{
  margin:1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center!important;
}

.QuizzMotor ul
{
  padding-left: 1rem;
}

.QuizzMotor ul li
{
display: flex;
flex-direction: row; 
color:"#fff"
}

.QuizzMotor ul li div
{
color:#fff
}

@media (max-width: 478px) 
{
  .QuizzMotor
  {
    border:1px solid black ;
    padding:1rem 1rem 1rem 1rem ;
    width:100%;
    min-height: 100vh;
    margin-left: 0;
    margin-right: 0;
  }
  
  .QuizzMotor h1{
    padding-bottom: 1rem;
    font-size: 300%;
  }
  
  .QuizzMotor h2
  {
    padding-bottom: 1rem;
    font-size: 150%;
  }
  
  .QuizzMotor h3
  {

    padding-bottom: 1rem;
    font-size: 120%;
  }
  
  
  .QuizzMotor > button {
    margin: 0rem;
    margin-top: 1rem;
    width: 100%;
  }
  
  .QuizzMotor > button:hover {
    background-color: #fff;
    color: #000;
  }
  
  .QuizzMotor ul
  {
    padding-left: 1rem;
  }
  .QuizzMotor ul li
  {
  width: 100%;  
  }

  .QuizzMotor ul li div
  {
 width: 50%;
  }

  .QuizzMotor div > input[type='radio']{

    width: 30px;
    height: 30px;
   
  }
}